# These requirements are for development and test of the library only

# Library dependencies
# ------------------------------------------------------------------------------
# If building a library, dependencies should be specified in setup.py with as
# wide a version range as possible, for maximum compatibility with other tools.
#
# You can install the library for development purposes if required with:
# -e .

# Application dependencies
# ------------------------------------------------------------------------------
# If building an application, rather than reusable library, specify dependencies
# with pinned versions in requirements.txt.
-r requirements.txt

# CLI
# ------------------------------------------------------------------------------
click==7.1.2

# Testing
# ------------------------------------------------------------------------------

# Code quality
# ------------------------------------------------------------------------------
pre-commit==2.9.3  # https://github.com/pre-commit/pre-commit


# Pre-deploy checks
# ------------------------------------------------------------------------------
